.product-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015; 
    transition: 1.3s;
    animation: fadeIn 2s ;
    
}

.proudct-item-image{
   width: 100%;
   border-radius: 15px 15px 0px 0px;

}


.product-item-info{
     padding: 20px;

}

.product-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.rating-img{
    width: 20px;
}




.product-item-name-rating{
     font-size: 15px;
     font-weight: 500px;
     
}


.product-item-desc{
    color: #676767;
    font-size: 12px;
}


.product-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}


.counter-icon {
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease;
  }
  
  
 
.product-item-img-container{
    position: relative;

}

.product-item-img-container .add {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #d6f5d6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px; /* icon size */
    color: green;
  
  }



  .food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 50px;
    background-color: rgb(243, 242, 242);
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    
  }
  
  .food-item-counter p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
  }
  
  /* Shared icon style */
.plus-btn{

    border-radius: 50%;
    font-size: 21px;
    background-color: #ffffff;
    color: green;
    font-size: 1rem;
}

.minus-btn{
    border-radius: 50%;
    font-size: 21px;
    background-color: #ffcaca;
    color:  #f93c3c;
    font-size: 1rem;
}
.link-save {
    text-decoration: none;
    color: tomato;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid tomato;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.link-save:hover {
    background-color: tomato;
    color: white;
}
.link-save{
  text-decoration: none;
  color: tomato;
   font-weight: bold;
}