.list-table-format {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 18px 20px; /* Height barhane ke liye padding increase ki */
    border: 1px solid #cacaca;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.list-table-format.title {
    background-color: #efecec;
    font-weight: 600;
    font-size: 15px;
}

.list-table-format img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 5px;
}

.cursor{
    cursor: pointer;
}

@media(max-width:600px) {
    .list-table-format {
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
        padding: 15px;
    }

    .list-table-format.title {
        display: none;
    }
}
