.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }
  
  .left-container {
    width: 60%;
    margin: 10px 20px;
  }
  
  .p-img img {
    width: 90%;
    height: 40vh;
    margin: 10px 20px;
  }
  
  .p-price {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 90%;
    height: 8vh;
    margin: 10px 20px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .description {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 90%;
    margin: 10px 20px;
    padding: 5px 5px;
    padding-top: 10px;
  }
  
  .cart-btn {
    margin: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 90%;
    padding: 10px 20px;
  }
  
  .c-btn {
    background-color: tomato;
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    width: 90%;
    margin-top: 10px;
  }
  
  .c-btn:hover {
    cursor: pointer;
    background-color: rgb(251, 86, 57);
  }
  
  .right-container {
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin: 150px 20px;
    height: 50vh;
  }
  
  .seller-info {
    padding: 15px 15px;
  }
  
  .seller-sub {
    display: flex;
  }
  
  .seller-sub img {
    width: 100px;
  }
  
  .seller-name {
    margin: 50px 10px;
  }
  
  .seller-b {
    margin-left: 30px;
  }
  
  .seller-btn {
    background-color: tomato;
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    width: 90%;
  }
  
  .seller-btn:hover {
    cursor: pointer;
    background-color: rgb(251, 86, 57);
  }
  
  /* Modal Styles */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Background dimming */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    z-index: 1001;
  }
  
  .modal-container h3 {
    text-align: center;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  .s-btn {
    padding: 10px 20px;
    background-color: tomato;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  .s-btn:hover {
    background-color: rgb(251, 86, 57);
  }

  .close-modal{
    padding: 10px 20px;
    background-color: tomato;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  .close-modal {
    margin-top: 10px;
    background-color: gray;
  }
  